  //the following sass/css is directed towards the top-naviagtion menu as well as the the hamburger menu for mobile users
  .navigation {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    opacity: 93%;
    padding: 0 20px !important;
    position: fixed !important;
    z-index: 9999 !important;
    background-color: rgba(255, 255, 255, 0.264);
    backdrop-filter: blur(10px);

    .nav {
      display: flex;
      align-items: center;
      gap: 25px;
      color: black;
    }
  
    .branding {
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: row;
    }

    .company-name {
      font-size: 1.25em;
      padding-left: 0.5em;
      transition: 0.7s;
      color: black;
  
      &:hover {
        font-size: 1.6em;
        color: #a6baf5;
      }
    }
  
    .gavipic {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  
    .nav-link {
      transition: 0.5s ease;
      color: black !important;
      cursor: pointer;
      font-size: 1.3rem;
  
      &:hover {
        font-size: 1.4em;
        cursor: pointer;
        color: #a6baf5 !important;
        border-bottom: 1px dashed #000000 !important;
      }
    }
  
    .ham-icon {
      display: none;
      cursor: pointer;
  
      .bar {
        display: block;
        width: 35px;
        height: 6px;
        margin: 6px auto;
        transition: all 0.4s ease-in-out;
        background-color: black;
      }
    }
  
    @media (max-width: 745px) {
      .ham-icon {
        display: block;
  
        &.active .bar:nth-child(1) {
            transform: translateY(10px) rotate(45deg);
        }
  
        &.active .bar:nth-child(2) {
          opacity: 0;
        }
  
        &.active .bar:nth-child(3) {
          transform: translateY(-15px) rotate(-45deg);
        }
      }

      .nav {
        position: fixed;
        right: 0%;
        top:75px;
        visibility: hidden;
        gap:0;
        flex-direction: column !important;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        background-color: rgba(0, 0, 0, 0.092);
        background-blend-mode:color-dodge;
    

        .nav-link {
          display: flex;
          border-bottom: 1px solid rgb(0, 0, 0);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.238);
          width: 100vw;
          height: fit-content;
          justify-content: center;
          padding: 5%;
          margin-left: 2vw;
          font-size: 6vw;
        }
  
        &.active {
          visibility: visible;
          top:80px;
          opacity: 100%;
        }
      }
    }
  }

  .landing-page {
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    color: black;
  }
  
  .header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 0;
  }
  
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .call-to-action {
    background-color: #007bff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .call-to-action:hover {
    background-color: #0062cc;
  }
  
  .footer {
    text-align: center;
    margin-top: auto;
  }
  