
/* Global styles */
:root {
    --font-family: Arial, Helvetica, sans-serif;
    --primary-color: #ffffff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    width: 100%;
    height: max-content;
    font-family: var(--font-family);
    display: flex;
    color: #ffffff;
    flex-direction: column;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  